/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-size: 150%;
}
 
/* header {
    position: sticky;
    top: 0;
} */


/* 
.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container__card {
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    overflow: hidden;
    width: 500px;
    height: 150px;
    line-height: 1.5;
}

.container__card--title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.container__card--text {
    text-align: justify;
    margin-bottom: 100px;
} */

/* .body__form {
    background-color: beige;
    border: 1px solid black;
    border-radius: 21px;
    padding: 15px;
    text-align: center;
}

.form__button {
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-left: 100px;
} */

#footer {
    margin-top: 50px;
    text-align: center;
    size: 100vw;
}

.footer__element {
    display: inline-block;
    margin: 20px 50px;
    font-size: 10px;
}



@media (max-width: 768px) {
    body {
        font-size: 125%;
    }
}

@media (max-width: 420px)  {
    body {
        font-size: 100%;
    }
}