* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://cdn.dribbble.com/users/2925801/screenshots/14267264/urban_city_-_background_for_video_conferencing_1_4x.jpg) ;
    font-size: 150%;
}

.nav {
    background-image: linear-gradient(beige, gray) ;
    border: 2px inset black;
    position: sticky;
    top: 0;
    margin: 0px 10px 0px 10px;
    font-style: italic;
}

.nav__element {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    transition: all 1s;
}

li:hover {
    background-color: lightgray;
    font-size: 120%
}

.menu {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container__card {
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    overflow: hidden;
    width: 500px;
    height: 150px;
    line-height: 1.5;
}

.container__card--title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.container__card--text {
    text-align: justify;
    margin-bottom: 100px;
}

.body__form {
    background-color: beige;
    border: 1px solid black;
    border-radius: 21px;
    padding: 15px;
    text-align: center;
}

.form__button {
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-left: 100px;
}

#footer {
    margin-top: 50px;
    border-top: 1px double black;
    background-color: black;
    color: white;
    text-align: center;
    size: 100vw;
}

.footer__element {
    display: inline-block;
    margin: 20px 50px;
    font-size: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 125%;
    }
    .container {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 420px)  {
    body {
        font-size: 100%;
    }
    .nav {
        display: none;
        background-image: none;
        background-color: beige;
    }
    .menu {
        display: inline-block;
    }
    .menu:hover {
        cursor: pointer;
    }
    
}