body {
    font-size: 150%;

    .body__form {
        border: 1px solid black;
        padding: 15px;

        .form__button {
            cursor: pointer;
            font-size: large;
            font-weight: 600;
            margin-left: 100px;
        }
    }

    .body__whatsapp {
        position: fixed;
        bottom: 10px;
        right: 20px;
        background-color: #25d365;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 25px;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
    }
}

@media (max-width: $md) {
    body {
        font-size: 125%;
    }
}

@media (max-width: $sm)  {
    body {
        font-size: 100%;
    }
}