footer {
    margin-top: 0px;
    text-align: center;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: $md) {
    footer {
        grid-template-columns: 1fr;
    }
}